* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} 
body {
  font-family: Tahoma, Arial;
  background: black;
}
#header {
  background: #138790;
  padding: 10px;
  border-bottom: 1px solid white;
} 
#header h1 small {
  opacity: 0.3;
  font-size: 20px;
  margin-left: 10px;
}

#csswarning {
  display:none;
}

#menu {
  position: absolute;
  left: 10px;
  top: 70px;
  width: 100px;
  text-align: right;
  line-height: 15px;

  font-size: 10px;
  font-weight: bold; 

  text-transform: uppercase;
  color: #888;
}

#menu ul {
  list-style: none;
}

#menu a {
  color: #fff;
  text-decoration: none;
}

#menu a:hover {
  color: #f83400;
  text-decoration: none;
}

#menu li {
  padding: 1px;
}

#content {
  position: absolute;
  left: 120px;
  top: 70px;
  padding: 0px;

  font-size: 11px;
  color: #939393;
  line-height: 14px;
  text-align: justify;

  padding-bottom: 50px;
  margin-right: 30px;
}

#content h1 {
  color: #fff;
  font-size: 16px;
}

#content h2 {
  color: #fff;
  font-size: 12px;
  font-variant: small-caps;
  padding-top: 19px;
  padding-bottom: 5px;
}

#content h3 {
  color: #626262;
  font-size: 11px;
  padding-top: 20px;
  padding-bottom: 5px;
  letter-spacing: 2px;
}

#content h4 {
  color: #fff;
  font-size: 11px;
  padding-top: 15px;
}

#content a {
  color: #33c7d0;
  font-weight: bold; 
  text-decoration: none;
}

#content a:hover {
  color: #f83400;
  font-weight: bold; 
  text-decoration: none;
}

#language {
  position: absolute;
  left: 670px;
  top: 10px;
  width: 100px;
  height: 18px;
  font-size: 12px;
}

#language span {
  visibility:hidden;
}

#language a {
  text-decoration: none;
}

#banner {
  position: absolute;
  left: 269px;
  top: 42px;
  width: 468px;
  height: 60px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
}
hr {
  height: 4px;
  border: 0px;
  border-bottom: 1px dotted #80a1a6;
}
dt {
  font-weight: bold;
  color: #888;
  margin-top: 18px;
  margin-bottom: 5px;
  font-size: 11px;
}
dd {
  margin-left: 18px;
}
#content ul, #content ol {
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 20px;
}
#content li {
}

.timetable {
  width: 460px;
}
#footer {
  padding-top: 5px;
  margin-top: 20px;
  text-align: center;
  text-transform: lowercase;
  font-size: 12px;
  letter-spacing: 6px;
  clear: both;
  border-top: 1px dotted #80a1a6;
}

.sponsor {
  clear: both;
}

.sponsorlogo {
  float: left;
  margin: 5px;
}

.mediasponsor {
  margin: 20px;
}

.atilogo {
  margin: 10px;
  text-align: center;
  width: 100%;
}

.small {
  font-family: Verdana;
  font-size: 7px;
  color: #aaaaaa;
  line-height: 7px;
}

#thanx {
  padding-top: 10px;
  text-align:center;
}


#counter {
  text-align: center;
  font-size: 13px;
  padding: 10px;
  font-weight: bold;
  background-color: #200f00;
  color: #e8d070;
  border: 1px solid #42270e;
  width: 75%;
  margin: 0px auto;
}

#counter span {
  color: #ffd;
}

#photostrip {
  text-align: center;
}

#photostrip img {
  padding: 5px;
}

#prodstrip {
  text-align: center;
}

#prodstrip img {
  padding: 5px;
}


.minuswiki textarea {
  width: 400px;
  height: 300px;
  padding: 5px;
}

.minuswiki th {
  color: #fff;
  padding: 1px;
  border-bottom: 1px solid #80a1a6;
}

.minuswiki td {
  vertical-align: top;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #305156;
}

.success {
  background: #8f8;
  color: #080;
  border: 2px solid #080;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}
#content .success a {
  color: #6c6;
  border-bottom: #080 1px dotted;
}

.warning {
  background: #ff8;
  color: #880;
  border: 2px solid #880;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}
#content .warning a {
  color: #cc6;
  border-bottom: #880 1px dotted;
}

.error {
  background: #f88;
  color: #800;
  border: 2px solid #800;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
}
#content .error a {
  color: #c66;
  border-bottom: #800 1px dotted;
}

textarea {
  width: 500px;
  height: 250px;
}

.filelist li {
  color: #444;
}
.filelist li.selectedfile span {
  color: #939393;
  font-weight: bold;
}
input[type="file"] {
  color: #444;
}
input[type='submit'] {
  padding: 2px 12px;
  display: block;
  margin: 5px 0px;
}

#votekeys_print textarea {
  width: 200px;
  height: 70px;
}

#uploadform {
  border-collapse: collapse;
}
#uploadform td, #uploadform th {
  border: 1px solid #222;
  padding: 10px;
}
#uploadform tr td:nth-child(1) {
  max-width: 250px;
}
#uploadform .button-submit {
  width: 200px;
  font-weight: bold;
}
#uploadform .button-delete {
  background: red;
  float: right;
  padding: 0px 5px;
}

.results {
  width: 800px;
  border-collapse: collapse;
}
.results td, .results th {
  border: 1px solid #222;
  padding: 5px;
}
.results tr td:nth-child(1) { width: 30px; text-align: right; }
.results tr td:nth-child(2) { width: 60px; text-align: right; }
.results tr td:nth-child(3) { width: 30px; text-align: right; }


.enoughentries {
  color: #33c780;
}

.fewentries {
  color: #b3e780;
}

.noentries {
  color: #c06760;
}

.inputfield {
  width: 500px;
}


#maintodolist {
    padding-left: 30px;
}

#maintodolist li {
    padding-bottom: 5px;
}

#maintodolist li s, #maintodolist li s a {
    color: #444;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline;
}
.beamermode label, .beamermode input {
  display: block;
}

#votekeys .key {
  font-family: monospace;
}

pre {
  background: #222;
  padding: 5px;
  margin: 5px;
}

dl#breakdown dt span.filename {
  color: #555;
}

#slides {
  list-style: none;
}
#slides li {
  list-style: none;
  display: inline-block;
  width: 250px;
  height: 180px;
  margin-right: 5px;
  vertical-align: top;
}
#slides li .contents {
  padding: 5px;
  width: 240px;
  height: 120px;
  overflow: hidden;
  margin-bottom: 5px;
}
#slides li .contents img,
#slides li .contents video {
  width: 240px;
}
#slides li .contents pre {
  font-size: 9px;
  overflow: hidden;
}
#slideedit img,
#slideedit video {
  max-width: 70vw;
}
#slideedit textarea {
  display: block;
  width: 70vw;
  height: 60vh;
}

#compoentrylist tr.entry td:nth-child(7) {
  text-align: right;
}

@media screen and (max-width : 1024px) 
{
  .minuswiki td {
    padding-left: 6px;
    padding-right: 6px;
  }
}

@media screen and (max-width : 640px) 
{
  #menu {
    position: static;
    width: 100%;
    padding: 5px;
    text-align: center;
  }
  #menu li {
    display: inline-block;
    padding: 5px;
  }
  #menu hr {
    display: none;
  }
  #content {
    left: 0;
    position: static;
    margin-right: 0px;
  }
}

@media screen and (max-width : 480px) 
{
  textarea {
    max-width: 90%;
  }
  #compolist tr td:nth-child(n+4),
  #compolist tr th:nth-child(n+4)
  {
    display: none;
  }
  #compoentrylist tr td:nth-child(n+5),
  #compoentrylist tr th:nth-child(n+5)
  {
    display: none;
  }
  #uploadform textarea,
  #uploadform input,
  #uploadform img  {
    max-width: calc(100vw - 125px);
  }
}
