www_admin/.htaccess
www_admin/.htpasswd
www_admin/.oplock
www_admin/activeplugins.serialize
www_admin/database.inc.php
www_admin/result.xml
www_admin/beamer.data
www_admin/noscreenshot-*.png
www_admin/slides/*
!www_admin/slides/index.php
www_party/database.inc.php
www_party/prototype.js
www_party/template.html
