/** you can use this to hide the mouse cursor entirely */
/* body { cursor: none; } */

/* put your own styling HERE */

.reveal .slides > section.rotationSlide.text,
.reveal .slides > section.announcementSlide,
.reveal .slides > section.countdownSlide,
.reveal .slides > section.compoDisplaySlide,
.reveal .slides > section.prizegivingSlide,
.dummy
{
  background: #fff;
}

body, .reveal-viewport
{
  color: #000;
}
