body 
{
  background: #000;
  background-color: #000; 
  color: #fff;
}
body > .overview {
  background: #888;
} 

.reveal .slides > section div.container {
  width: 100%;
  position: absolute;
}

.reveal img, .reveal video, .reveal iframe {
  max-height: 100%;
  max-width: 100%;
}

.reveal .slides > section, .reveal .slides > section > section {
  padding: 0px;
}

/* actual CSSery */

.reveal .slides > section.rotationSlide.text,
.reveal .slides > section.announcementSlide,
.reveal .slides > section.countdownSlide,
.reveal .slides > section.compoDisplaySlide,
.reveal .slides > section.prizegivingSlide,
.reveal #pip-countdown,
.dummy
{
  font-family: "Segoe UI";
  font-size: 64px;
}
.reveal .slides > section.rotationSlide.image div.container
{
  line-height: 0px;
}
.reveal .slides > section.countdownSlide div > *
{
}
.reveal .slides > section.countdownSlide  .eventName,
.reveal .slides > section.countdownSlide .countdownTimer
{
  font-size: 96px;
  margin: 60px;
  font-weight: bold;
}
.reveal .slides > section.compoDisplaySlide.intro .eventName,
.reveal .slides > section.compoDisplaySlide.intro .now,
.reveal .slides > section.compoDisplaySlide.outro .eventName,
.reveal .slides > section.compoDisplaySlide.outro .over,
.reveal .slides > section.prizegivingSlide.intro .header,
.dummy
{
  font-size: 96px;
  margin: 60px;
  font-weight: bold;
}

.reveal .slides > section.compoDisplaySlide.entry .eventName,
.reveal .slides > section.prizegivingSlide.entry .eventName,
.dummy
{
    color: #FFFFFF;
    position: absolute;
    right: 40px;
    text-shadow: 0 0 15px #000000;
    top: 39px;
}

.reveal .slides > section.compoDisplaySlide.entry .number,
.reveal .slides > section.prizegivingSlide.entry .ranking,
.dummy
{
    float: left;
    font-size: 256px;
    font-weight: bold;
    height: 500px;
    margin-right: 50px;
    padding-top: 50px;
    text-align: right;
    width: 300px;
}
.reveal .slides > section.compoDisplaySlide.entry .title,
.reveal .slides > section.prizegivingSlide.entry .title,
.dummy
{
    font-weight: bold;
    text-align: left;
}
.reveal .slides > section.compoDisplaySlide.entry .author, 
.reveal .slides > section.prizegivingSlide.entry .author,
.dummy
{
    text-align: left;
}
.reveal .slides > section.compoDisplaySlide.entry .comment, 
.reveal .slides > section.prizegivingSlide.entry .points,
.dummy
{
    text-align: left;
    font-size: 32px;
    line-height: normal;
}

.reveal #pip-countdown {
  width: 200px;
  font-size: 32px;
  background: rgba(0,0,0,0.75);
  z-index: 25;
  position: absolute;
}
.reveal #pip-countdown div {
  text-align: center;
  margin: 5px;
}
.reveal #pip-countdown .eventName,
.reveal #pip-countdown .countdownTimer {
  font-weight: bold;
}
.reveal .slides section.prizegivingSlide.prizinator .container {
  height: 90vh;
  max-height: 90vh;
  overflow: hidden;
}
.reveal .slides section.prizegivingSlide.prizinator ul.prizinator li {
  transition: max-height ease-in-out 300ms;
  max-height: 30vh;
  overflow: hidden;
  position: relative;
}
.reveal .slides section.prizegivingSlide.prizinator ul.prizinator li.hidden {
  max-height: 0;
}
.reveal .slides section.prizegivingSlide.prizinator ul.prizinator li span.bar {
  position: absolute;
  height: 100%;
  background: rgba(255,255,255,0.25);
  transition: width ease-in-out 600ms;
}
.reveal .slides section.prizegivingSlide.prizinator ul.prizinator li.hidden span.bar {
  width: 0% !important;
}
