* {
  font-family: sans-serif;
}
#container {
  width: 900px;
  margin: 10px auto;
}
#menu ul li {
  display: inline-block;
  padding: 5px 10px;
}
#menu ul li hr {
  display: none;
}
label {
  margin: 5px;
  display: block;
}

#livevoteContainer .votes .vote {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 5px;
  text-align: center;
  margin: 3px;
  background: #eee;
  cursor: pointer;
}
#livevoteContainer ul {
  list-style: none;
  padding-left: 20px;
}
#livevoteContainer .votes .vote.selected {
  background: #aea;
}
#livevoteContainer .votes .vote.loading {
  outline: red 1px solid;
}
@media screen and (max-device-width : 900px) 
{
  #container {
    width: 100%;
    margin: 0px;
  }
}

#livevoteContainer .votes .vote.loading {
	background-image: url('data:image/gif;base64,R0lGODlhEAAQAPQAAP///wAAAPj4+Dg4OISEhAYGBiYmJtbW1qioqBYWFnZ2dmZmZuTk5JiYmMbGxkhISFZWVgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAAFUCAgjmRpnqUwFGwhKoRgqq2YFMaRGjWA8AbZiIBbjQQ8AmmFUJEQhQGJhaKOrCksgEla+KIkYvC6SJKQOISoNSYdeIk1ayA8ExTyeR3F749CACH5BAkKAAAALAAAAAAQABAAAAVoICCKR9KMaCoaxeCoqEAkRX3AwMHWxQIIjJSAZWgUEgzBwCBAEQpMwIDwY1FHgwJCtOW2UDWYIDyqNVVkUbYr6CK+o2eUMKgWrqKhj0FrEM8jQQALPFA3MAc8CQSAMA5ZBjgqDQmHIyEAIfkECQoAAAAsAAAAABAAEAAABWAgII4j85Ao2hRIKgrEUBQJLaSHMe8zgQo6Q8sxS7RIhILhBkgumCTZsXkACBC+0cwF2GoLLoFXREDcDlkAojBICRaFLDCOQtQKjmsQSubtDFU/NXcDBHwkaw1cKQ8MiyEAIfkECQoAAAAsAAAAABAAEAAABVIgII5kaZ6AIJQCMRTFQKiDQx4GrBfGa4uCnAEhQuRgPwCBtwK+kCNFgjh6QlFYgGO7baJ2CxIioSDpwqNggWCGDVVGphly3BkOpXDrKfNm/4AhACH5BAkKAAAALAAAAAAQABAAAAVgICCOZGmeqEAMRTEQwskYbV0Yx7kYSIzQhtgoBxCKBDQCIOcoLBimRiFhSABYU5gIgW01pLUBYkRItAYAqrlhYiwKjiWAcDMWY8QjsCf4DewiBzQ2N1AmKlgvgCiMjSQhACH5BAkKAAAALAAAAAAQABAAAAVfICCOZGmeqEgUxUAIpkA0AMKyxkEiSZEIsJqhYAg+boUFSTAkiBiNHks3sg1ILAfBiS10gyqCg0UaFBCkwy3RYKiIYMAC+RAxiQgYsJdAjw5DN2gILzEEZgVcKYuMJiEAOwAAAAAAAAAAAA==');
	color: #888;
}

.voteentry {
  float: left;
  height: 220px;
  width: 250px;
  margin-right: 20px;
}
#votesubmit, #votingform h3, #footer { 
  clear:both;
}
#visitors td:nth-child(2) {
  font-weight: bold;
}
