.success {
  color: green;
  padding: 20px;
  border: 2px solid green;
}

.failure, .error {
  color: red;
  padding: 20px;
  border: 2px solid red;
}

.timetable_eventtype_deadline {
  color: red;
  font-weight: bold;
}

.timetable_eventtype_compo {
  color: #ff0060;
  font-weight: bold;
}

.timetable_eventtype_event {
  font-style: italic;
}

.timetable td, .timetable th { padding: 5px; }
